*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px; /* base para usar rem */
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #000;
}
.logo-img {
  height: 30px; /* ajuste conforme necessário */
}

.full-height {
  min-height: 100vh;
}
.layout-col {
  display: flex;
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.layout-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.form-container {
  width: 100%;
  max-width: 28rem;
}
.padding-header {
  padding: 1rem 1.5rem;
}
.padding-main {
  padding: 3rem 1rem;
}
.padding-footer {
  padding: 2rem 1.5rem;
}
.form-spacing > * + * {
  margin-top: 2rem;
}
.input-wrapper {
  position: relative;
  margin-bottom: -0.75rem;
}
.padding-right {
  padding-right: 3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #1e3a8a;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.text-white {
  color: #ffffff;
}

.input-field {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  transition: all 0.2s;
}

.input-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}

.link-muted {
  display: block;
  font-size: 0.9rem; /* Tamanho de fonte proporcional à tela */
  color: #6b7280;
  text-decoration: none;
}

.text-muted {
  font-size: 12px;
  text-align: center;
  margin-top: 1rem;
  color: #4b5563;
}

.text-label {
  color: #374151;
  font-weight: 500;
}

.btn-primary {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #1e3a8a;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  border: none;
  border-radius: 9999px;
  transition: all 0.2s;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #1c3a7d;
  transform: translateY(-2px);
  color: #ffffff;
}

.btn-secondary {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0.625rem 0;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 9999px;
  background-color: #1e3a8a;
  color: #ffffff;
  transition: all 0.2s;
  border: none;
  text-align: center;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #1c3a7d;
  transform: translateY(-2px);
  color: #ffffff;
}
.btn-google {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.7rem;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  margin: 0 auto;
  transition: all 0.2s;
  cursor: pointer;
}
.btn-google:hover {
  background-color: #f9fafb;
  transform: translateY(-2px);
}
.icon {
  width: 60px;
  display: inline-block;
}

.btn-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #6b7280;
  cursor: pointer;
}
.btn-icon:hover {
  color: #374151;
}
