@media (max-width: 760px) {
  .event-header {
    flex-direction: column;
    gap: 30px;
  }

  .section-policy {
    width: 100%;
  }

  .organizer {
    flex-direction: column;
    gap: 20px;
  }
}
