@media (max-width: 768px) {
  .form-container {
    width: 90%;
  }

  .logo-img {
    height: 30px; /* ajuste conforme necessário */
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #1e3a8a; /* navy-900 */
    margin-top: 2rem;
    margin-bottom: 3.5rem;
  }
  .text-white {
    color: #ffffff;
  }
  .text-left {
    margin-top: 20px;
  }

  .text-muted {
    position: relative;
    font-size: 0.8rem;
    text-align: center;
    color: #4b5563;
  }

  .text-label {
    color: #374151;
    font-weight: 500;
  }

  .input-wrapper {
    margin-bottom: 30px;
  }

  .input-field {
    width: 85%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    transition: all 0.2s;
  }
  .input-field:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6;
  }

  .btn-primary:hover {
    background-color: #1c3a7d;
    transform: translateY(-2px);
  }

  .btn-secondary:hover {
    background-color: #1c3a7d;
    transform: translateY(-2px);
  }

  .btn-google:hover {
    background-color: #f9fafb;
    transform: translateY(-2px);
  }

  .text-label {
    position: relative;
    top: -11px;
    left: -11px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 0.5em; /* Espaço entre o ícone e o texto */
  }

  .text-label .icon {
    width: 70px; /* ou o tamanho que preferir */
    height: 28px;
    display: inline-block;
    margin-right: 5px !important;
  }

  .btn-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #6b7280;
    cursor: pointer;
  }

  .btn-icon:hover {
    color: #374151;
  }

  .link-muted {
    font-size: 0.8rem;
    color: #4b5563;
    transition: color 0.2s;
  }

  .link-muted:hover {
    color: #2563eb;
    text-decoration: underline;
  }
}
